
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

img{
    max-width: 100%;
}

/* header */

/* /header */

/* main */

/* structure */
.container{
    width: 80%;
    min-height: 1110px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: calc(100% / 3 - 40px);
    margin: 0 20px;

}
/* /structure */

.photos{
    position: relative;
}

.ph-second{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.photos:hover .ph-second{
    display: inline-block;
}

.label{
    border: none;
    color: white;
    font-size: 12px;
    padding: 2px 8px;
    text-align: center;
    
}

.red{
    background-color: red;
    position: absolute;
    bottom: 35px;
    left: 0;
}

.green{
    background-color: green;
    position: absolute;
    bottom: 35px;
    left: 45px;
}

i{
    background-color: white;
    text-align: center;
    padding: 2px 8px;
    position: absolute;
    right: 0;
    top: 5px;
}

.brand,
.price-row{
    font-size: 10px;
    
}

.article-name{
    font-size: 15px;
    font-weight: 600;
}

.discount{
    color: red;
    font-size: 12px;
    font-weight: 600;
}

.column:last-child .label.green{
    left: 0;
}


/* /main */

/* footer */

/* /fotter */